<div ng-controller="CleanMyCityController">

  <p>&nbsp;</p>

  <div class="container">

    <div class="row">
     <div class="col m4">
       <div class="card white">
        <div class="card-image">
          <img src="assets/images/litter.jpg" class="img-responsive">
          <span class="card-title">Bengaluru, India</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">build</i></a>
        </div>
        <div class="card-content">
          <p>Uploaded by <a href="#!">Amruth Pillai</a></p>
        </div>
       </div>
     </div>

     <div class="col m4">
       <div class="card white">
        <div class="card-image">
          <img src="assets/images/litter2.jpg" class="img-responsive">
          <span class="card-title">Mumbai, India</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green darken-2"><i class="material-icons">build</i></a>
        </div>
        <div class="card-content">
          <p>Uploaded by <a href="#!">Prabhu B</a></p>
        </div>
       </div>
     </div>

     <div class="col m4">
       <div class="card white">
        <div class="card-image">
          <img src="assets/images/litter3.png" class="img-responsive">
          <span class="card-title">Bengaluru, India</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green darken-2"><i class="material-icons">build</i></a>
        </div>
        <div class="card-content">
          <p>Uploaded by <a href="#!">Kushal S T</a></p>
        </div>
       </div>
     </div>
   </div>

   <div class="row">
     <div class="col m4">
       <div class="card white">
        <div class="card-image">
          <img src="assets/images/litter4.jpg" class="img-responsive">
          <span class="card-title">Chennai, India</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green darken-2"><i class="material-icons">build</i></a>
        </div>
        <div class="card-content">
          <p>Uploaded by <a href="#!">Prabhu B</a></p>
        </div>
       </div>
     </div>

    <div class="col m4">
      <div class="card white">
       <div class="card-image">
         <img src="assets/images/litter5.jpg" class="img-responsive">
         <span class="card-title">Dharavi, India</span>
         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">build</i></a>
       </div>
       <div class="card-content">
         <p>Uploaded by <a href="#!">Amruth Pillai</a></p>
       </div>
      </div>
    </div>

    <div class="col m4">
      <div class="card white">
       <div class="card-image">
         <img src="assets/images/litter6.jpg" class="img-responsive">
         <span class="card-title">Bengaluru, India</span>
         <a class="btn-floating halfway-fab waves-effect waves-light green darken-2"><i class="material-icons">build</i></a>
       </div>
       <div class="card-content">
         <p>Uploaded by <a href="#!">Kushal S T</a></p>
       </div>
      </div>
    </div>
  </div>

  </div>

  <p>&nbsp;</p>

  <div class="fixed-action-btn">
    <button class="waves-effect waves-light btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </button>
  </div>

</div>
