<div ng-controller="HomeController">

  <p>&nbsp;</p>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/taj-mahal.jpg">
            <span class="card-title">Welcome to Nagariya!</span>
          </div>
          <div class="card-content">
            <p class="font-weight: 600;">We are a one stop, intelligent portal for everything and anything that needs to be done to upbring the city you live in.</p>
            <p>&nbsp;</p>
            <p>Help around the neighborhood with Clean My City, submit the complaints of your constituency and be heard by officials with Complaint Box and so many more features just waiting to be unearthed!</p>
          </div>
          <div class="card-action">
            <a href="#">Know More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m4 s12">
        <a href="#cleanmycity">
          <div class="card-panel teal center">
            <img src="assets/images/icons/sweeping-broom.png" width="42px" height="42px" />
            <span class="white-text"><h5>Clean My City</h5></span>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="card-action">
              <a class="white-text waves-effect waves-teal btn-flat" href="#cleanmycity">KNOW MORE</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col m4 s12">
        <a href="#complaintbox">
          <div class="card-panel teal darken-2 center">
            <img src="assets/images/icons/complaints.png" width="42px" height="42px" />
            <span class="white-text"><h5>Complaints Box</h5></span>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="card-action">
              <a class="white-text waves-effect waves-teal btn-flat" href="#complaintbox">KNOW MORE</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col m4 s12">
        <a href="#paymenthub">
          <div class="card-panel teal darken-4 center">
            <img src="assets/images/icons/coins.png" width="42px" height="42px" />
            <span class="white-text"><h5>Payment Hub</h5></span>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="card-action">
              <a class="white-text waves-effect waves-teal btn-flat" href="#paymenthub">KNOW MORE</a>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col m4 s12">
        <a href="#realtimeinsights">
          <div class="card-panel green center">
            <img src="assets/images/icons/graph.png" width="42px" height="42px" />
            <span class="white-text"><h5>Realtime Insights</h5></span>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="card-action">
              <a class="white-text waves-effect waves-green btn-flat" href="#cleanmycity">KNOW MORE</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col m4 s12">
        <a href="#profile">
          <div class="card-panel green darken-2 center">
            <img src="assets/images/icons/profile.png" width="42px" height="42px" />
            <span class="white-text"><h5>Your Profile</h5></span>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="card-action">
              <a class="white-text waves-effect waves-green btn-flat" href="#profile">KNOW MORE</a>
            </div>
          </div>
        </a>
      </div>

      <div class="col m4 s12">
        <a href="#about">
          <div class="card-panel green darken-4 center">
            <img src="assets/images/icons/info.png" width="42px" height="42px" />
            <span class="white-text"><h5>About Us</h5></span>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="card-action">
              <a class="white-text waves-effect waves-green btn-flat" href="#about">KNOW MORE</a>
            </div>
          </div>
        </a>
      </div>
    </div>

</div>
